/*--FONTS--*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

/*--RESET & GENERAL--*/

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	vertical-align: baseline;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

ol, ul {
	list-style: none;	
}

html {
	height: 100%;
}

/*--BODY--*/

body {
	min-height: 100%;
	width: 100%;
	font: 400 16px/175% Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-align: center;
	background: #8fc06c;
	position: absolute;
}

h1 {
	width: 80%;
	top: 50%;
	margin: -36px 10% 0;
	font-size: 72px;
	line-height: 100%;
	position: fixed;
}

h1 em {
	display: block;
	color: #d3e5c6;
}

a {
	text-decoration: none;
	cursor: pointer;
}

p a {
	color: #333;
	border-bottom: 1px solid #ccc;
	
	-webkit-transition: border-bottom-color .15s ease-out;
	   -moz-transition: border-bottom-color .15s ease-out;
	        transition: border-bottom-color .15s ease-out;
}

p a:hover {
	border-bottom-color: #333;
}

strong {
	font-weight: bold;
}

pre, code {
	margin-top: 10px;
	padding: 10px 15px;
	font: normal 13px/150% "Droid Sans Mono", "courier new", monospace;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 3px;
}

pre {
	text-align: left;
	overflow-x: scroll;
	position: relative;
}

pre > span {
	color: #999;
}

code {
	margin: 0 5px;
	padding: 0 5px;
}

/*--CLEARFIX--*/

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/*--LANGUAGE--*/

#specs {
	width: 80%;
	top: 50%;
	margin: 0 10%;
	padding-top: 56px;
	line-height: 100%;
	color: #d3e5c6;
	position: fixed;
}

#specs span {
	font-weight: bold;
}

/*--HELP--*/

#help {
	width: 80%;
	bottom: 35px;
	margin: 0 10%;
	color: #d3e5c6;
	line-height: 100%;
	position: fixed;
	
	-webkit-transition: bottom .15s ease-out, opacity .15s ease-out;
	   -moz-transition: bottom .15s ease-out, opacity .15s ease-out;
	        transition: bottom .15s ease-out, opacity .15s ease-out;
}

#help.animate {
	bottom: 50px;
	opacity: 1;
}

#help span {
	color: #fff;
}

body.touch-device #help {display: none}

/*--INFO & COUNTRY POPUPS--*/

#tabs {
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	position: absolute;
}

#tabs > a {
	width: 50%;
	padding: 12px 0;
	background: #eee;
	line-height: 100%;
	float: left;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

#tabs > a:first-child {
	border-left: none;
}

#tabs > a:hover {
	color: #999;
}

#tabs > a.active {
	color: #999;
	border-bottom: none;
	background: #fff;
	cursor: default;
}

#tab-info, #tab-api {
	display: none;
}

#info[data-tab="info"] #tab-info,
#info[data-tab="api"] #tab-api {
	display: block;
}

#tab-api .blue {
	padding: 3px 5px 4px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	background: #288ad5;
	border-bottom: none;
	
	border-radius: 3px;
}

#info, #country {
	height: 0;
	width: 480px;
	max-width: 100%;
	margin: 88px auto 82px;
	padding: 0 25px;
	color: #333;
	background: #fff;
	opacity: 0;
	position: relative;
	z-index: 4000;
	overflow: hidden;
	display: block;
	
	-webkit-transition: opacity .25s ease-out;
	   -moz-transition: opacity .25s ease-out;
	        transition: opacity .25s ease-out;
	
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	        box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

[data-popup="info"] #info, [data-popup="country"] #country {
	height: auto;
	opacity: 1;
	padding-top: 62px;
}

[data-popup="info"] #country, [data-popup="country"] #info {
	margin: 0;
}

/*--INFO--*/

#info h2 {
	margin: 20px 0 10px 0;
	color: #999;
}

#info h2:first-child {
	margin-top: 0;
}

/*--FACTS--*/

#facts {
	margin: 25px -25px 0;
	line-height: 100%;
	font-size: 20px;
	color: #fff;
	background: #161616;
	overflow: hidden;
	
	border-radius: 0 0 5px 5px;
}

#facts > div {
	width: 50%;
	padding: 18px 0 20px;
	border-left: 1px solid #333;
	float: left;
}

#facts > div:first-child {
	border-left: none;
}

#facts p {
	margin-top: 5px;
	font-size: 10px;
	line-height: 100%;
	font-weight: 700;
	color: #999;
	text-transform: uppercase;
}

/*--GENDER--*/

[data-popup] #genderSelect .icon {
	opacity: .6;
}

/*--COUNTRY--*/

#country {
	padding: 0 !important;
	width: 320px;
}

#country li, #country .contribute {
	max-height: 150px;
	text-align: left;
	line-height: 100%;
	border-top: 1px solid #eee;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

#country li.inactive {
	max-height: 0;
	border-width: 0;
	opacity: 0;
}

#country li .flag {
	height: 20px;
	width: 20px;
	margin: 12px;
	float: left;
	position: relative;
}

#country li .flag:before {
	content: '';
	height: 18px;
	width: 18px;
	border: 1px solid #000;
	opacity: .25;
	position: absolute;
	
	border-radius: 50%;
}

#country li .flag img {
	height: 100%;
	width: 100%;
	
	border-radius: 50%;
}

#country li .country-label {
	line-height: 260%;
}

#country li:first-child {
	border-top: none;
}

#country li:hover {
	cursor: pointer;
}

#country li.active {
	color: #999;
}

#country li:hover,
#country li.active,
#country li.highlight {
	background: #f9f9f9;
}

#country li.new:after, #country li.fav:after {
	content: 'NEW';
	right: 0;
	margin: 13px 12px;
	padding: 3px 4px 4px;
	font-size: 10px;
	font-weight: 700;
	line-height: 100%;
	color: #fff;
	background: #161616;
	position: absolute;
	
	border-radius: 2px;
}

#country li.fav:after {
	content: ' POPULAR';
	background: #e59c1c;
}

#country li.active:after {
	background: #999;
}

#countrySelect:before {
	content: '';
	height: 4px;
	width: 4px;
	margin: 16px 10px;
	background: #fff;
	opacity: .6;
	float: left;
	
	border-radius: 5px;
}

#country .contribute {
	padding: 0;
	text-align: center;
	line-height: 150%;
	display: block;
}

#country .contribute a {
	padding: 15px;
	display: block;
}

#country .contribute svg {
	height: 48px;
	width: 48px;
	margin: 0 auto 5px;
	display: block;
	fill: #333;
}

#country .contribute:hover svg {
	fill: #444;
}

/* country count */

#country .countryCount {
	top: 0;
	right: 12px;
	line-height: 260%;
	color: #999;
	position: absolute;
}

/* country search */

#country input {
	width: 100%;
	padding: 8px 13px;
}

#country a.random {
	height: 20px;
	width: 20px;
	top: 12px;
	right: 13px;
	background: #bbb;
	
	border-radius: 2px;
	
	position: absolute;
}

/*--OVERLAY--*/

#overlay {
	opacity: 0;
	
	-webkit-transition: opacity .25s ease-out;
	   -moz-transition: opacity .25s ease-out;
	        transition: opacity .25s ease-out;
}

[data-popup] #overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #8fc06c;
	opacity: .75;
	position: fixed;
	z-index: 3000;
	cursor: pointer;
}

/*--SHAREBOX--*/

#share-box {
	height: 32px;
	bottom: 25px;
	left: 25px;
	padding: 6px;
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	position: fixed;
	z-index: 500;
	
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	        box-shadow: 0 1px 2px rgba(0,0,0,.25);
	
	-webkit-transition: margin-left .25s ease-out, left .25s ease-out, bottom .25s ease-out;
	   -moz-transition: margin-left .25s ease-out, left .25s ease-out, bottom .25s ease-out;
	        transition: margin-left .25s ease-out, left .25s ease-out, bottom .25s ease-out;
}

#share-box iframe {
	display: inline-block;
}

/*--DETAILS--*/

#options, #details {
	top: 25px;
	position: fixed;
	z-index: 3500;
}

#options {
	left: 25px;
}

#details {
	right: 25px;
}

.icon {
	height: 38px;
	width: 38px;
	margin-left: 8px;
	border: 2px solid #fff;
	opacity: .6;
	position: relative;
	float: left;
	
	border-radius: 100%;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
	
	-webkit-transition: opacity .15s ease-out;
	   -moz-transition: opacity .15s ease-out;
	        transition: opacity .15s ease-out;
}

.icon:first-child {
	margin-left: 0;
}

.icon.active, [data-popup="info"] .icon.info, [data-popup="country"] .icon.country {
	opacity: 1;
	background: #fff;
}

.icon.active span, [data-popup="info"] .icon.info span, [data-popup="country"] .icon.country span {
	background: #8fc06c;
}

.male.active .m1,
.female.active .f1,
[data-popup="country"] .icon.country .r1,
[data-popup="country"] .icon.country .r4 {
	border-color: #8fc06c;
	background: #fff;
}

/*--ICONS--*/

.icon span {
	background: #fff;
	position: absolute;
	
	border-radius: 5px;
}

/* male */

.male .m1 {
	height: 14px;
	width: 14px;
	top: 13px;
	left: 7px;
	border: 2px solid #fff;
	background: none;
	
	border-radius: 100%;
}

.male .m2 {
	height: 10px;
	width: 2px;
	top: 8px;
	left: 20px;
	
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.male .m3 {
	height: 2px;
	width: 8px;
	top: 8px;
	left: 18px;
}

.male .m4 {
	height: 8px;
	width: 2px;
	top: 8px;
	left: 24px;
}

/* female */

.female .f1 {
	height: 14px;
	width: 14px;
	top: 7px;
	left: 10px;
	border: 2px solid #fff;
	background: none;
	
	border-radius: 100%;
}

.female .f2 {
	height: 9px;
	width: 2px;
	top: 19px;
	left: 16px;
}

.female .f3 {
	height: 2px;
	width: 8px;
	top: 23px;
	left: 13px;
}

/* random */

.random .r1 {
	height: 14px;
	width: 2px;
	top: 8px;
	left: 11px;
	
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	
}

.random .r2 {
	height: 14px;
	width: 2px;
	top: 8px;
	left: 21px;
	
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.random .r3 {
	height: 2px;
	width: 8px;
	top: 9px;
	left: 6px;
}

.random .r4 {
	height: 8px;
	width: 2px;
	top: 9px;
	left: 6px;
}

.random .r5 {
	height: 2px;
	width: 8px;
	top: 9px;
	left: 20px;
}

.random .r6 {
	height: 8px;
	width: 2px;
	top: 9px;
	left: 26px;
}

.random .r7 {
	height: 8px;
	width: 2px;
	top: 19px;
	left: 16px;
}

/* country */

.country .r1 {
	height: 20px;
	width: 20px;
	top: 7px;
	left: 7px;
	border: 2px solid #fff;
	background: none;
	
	border-radius: 100%;
}

.country .r2 {
	height: 18px;
	width: 2px;
	top: 8px;
	left: 16px;
	z-index: 2;
}

.country .r3 {
	height: 2px;
	width: 18px;
	top: 16px;
	left: 8px;
	z-index: 2;
}

.country .r4 {
	height: 20px;
	width: 12px;
	top: 7px;
	left: 11px;
	border: 2px solid #fff;
	background: none;
	
	border-radius: 100%;
}

/* info */

.info .i1, .info .i2, .info .i3 {
	height: 2px;
	width: 16px;
	top: 11px;
	left: 9px;
}

.info .i2 {
	top: 16px;
}

.info .i3 {
	top: 21px;
}

/* no-js fix */

span.no-js {display: none}
body.no-js span.no-js {display: inline}

body.no-js h1:after {
	content: 'JavaScript is disabled :(';
}

body.no-js h1 em,
body.no-js #specs,
body.no-js #help,
body.no-js #info,
body.no-js #country,
body.no-js #options,
body.no-js #details,
body.no-js #share-box {
	display: none;
}

/*--RESPONSIVE--*/

@media (max-width: 900px) {

	h1 {
		font-size: 48px;
		margin-top: -24px;
	}
	
	#specs {
		padding-top: 44px;
	}
	
	#help {display: none}
	
	#share-box {
		left: 50%;
		margin-left: -126px;
	}

}

@media (max-width: 640px) {

	h1 {
		font-size: 36px;
		margin-top: -18px;
	}
	
	#specs {
		padding-top: 38px;
	}

}

@media (max-width: 520px) {

	h1 {
		font-size: 28px;
		margin-top: -14px;
	}
	
	#specs {
		padding-top: 34px;
	}

}

@media (max-width: 480px) {

	#info, #country {
		width: 100%;
		border-radius: 0;
	}
	
	#facts > div {
		padding: 14px 0 16px;
	}
	
	#facts {
		border-radius: 0;
	}
	
	#facts p {
		font-size: 9px;
	}

}